:root {
  --bg-color: #10141f;
  --elements-color: #161d2f;

  --text-main: #d1d4da;
  --text-second: #454954;
  --text-green: #16c784;
  --text-red: #ea3943;

  --text-weight-regular: 400;
  --text-weight-medium: 500;
}
