.main {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__trendingCoins {
    display: flex;
    gap: 20px;
  }

  &__coins {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}
