.navbar {
  max-width: 9rem;
  min-width: 9rem;
  height: 85rem;
  background-color: var(--elements-color);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  &__logo {
    max-width: 5rem;
    padding-bottom: 2rem;
    border-bottom: 0.3rem solid #10141f;
    margin-bottom: 3rem;
  }

  &__navLink {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;

    &__item {
      max-width: 4rem;
      transition: 1s transform;

      .active {
        transform: scale(1.2);
      }
    }
  }

  &__settings {
    margin-top: auto;
    max-width: 4rem;
    cursor: pointer;
  }
}
