.new {
  width: 32rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__img {
    max-height: 135px;
    min-height: 135px;
    height: 135px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-main);
  }
}
