.search {
  display: flex;
  gap: 1rem;

  &__icon {
    max-width: 4rem;
  }

  &__input {
    background-color: transparent;
    border: none;
    caret-color: white;
    color: var(--text-main);

    &::placeholder {
      color: #454954;
    }
  }
}
