.trendingCoin {
  position: relative;
  width: 15rem;
  min-width: 15rem;
  height: 15rem;
  background-color: var(--elements-color);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

  &__name {
    color: var(--text-main);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__img {
    height: 7.5rem;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &__img {
      max-width: 2.5rem;
    }
  }
}
